.cards{
  margin: 0 10px;
  width: 30%;
  height: 400px;
  padding: 20px;
  text-align: center;
  box-shadow: 2px 4px 10px 4px #144494; 
  float: left;
  position: relative;
}
.cards:after{
  clear: both;
  content: "";
  display: table;
}
.cards h2{
  font-weight: 700;
  font-size: 1.2rem;
  margin: 10px auto;
}
.cards h3{
  font-weight: 300;
  font-size: 0.8rem;
  letter-spacing: 2px;
  margin: 10px auto;
}
#card-container{
  width: 90%;
  text-align: center;
  margin: 0 auto;
  position: relative;
  left: 30px;
}
.cards a{
  background: #144493;
  border-radius: 20px;
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  right: 75px;
  bottom: 30px;
  transition: 0.4s ease-in-out;
}
.cards a:hover{
  background: #413f43;
}
.cards .benefits-list li{
  padding: 10px;
  text-align: left;
}
.cards .benefits-list li .fas{
  padding-right: 10px;
  color: #144493;
  font-size: 1.2rem;
}
