.cards{
  margin: 0 10px;
  width: 30%;
  height: 400px;
  padding: 20px;
  text-align: center;
  box-shadow: 2px 4px 10px 4px #144494; 
  float: left;
}
.cards:after{
  clear: both;
  content: "";
  display: table;
}
.cards h2{
  font-weight: 600;
  font-size: 1.2rem;
  margin: 10px auto;
}
