#footer{
  margin: 0 auto;
  padding: 30px;
  width: 100%;
  display: inline-block;
  color: #144493;
}
#footer .head nav{
  text-align: center;
  margin-bottom: 50px;
}
#footer .head nav ul li{
  text-align: center;
  margin: 0 50px;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 4px;
  display: inline;
  transition: 0.4s ease-in-out;
}
#footer .head nav ul li:hover{
  color: #fb0625;
  text-decoration: underline;
}
#footer .body{
  width: 100%;
  display: flex;
  justify-content: center;
}
#footer .body .social-body,
#footer .body .contact-body,
#footer .body .copy-body{
  width: 30%;
  display: inline;
  margin-right: 50px;
}
#footer .body .copy-body{
  margin-right: 0;
}
#footer .body .social-body{
  
}
#footer .body .social-body nav ul li:nth-child(1),
#footer .body .social-body nav ul li:nth-child(3),
#footer .body .social-body nav ul li:nth-child(5),{
  display: inline;
}
#footer .body .social-body nav ul li:nth-child(2),
#footer .body .social-body nav ul li:nth-child(4){
  display: block;
}
#footer .body .social-body nav ul li a .fab{
  color: #144493;
  font-size: 3rem;
}
#footer .privacy-clause{
  line-height: 2;
  margin-bottom: 125px;
}
#footer .copyright{
  margin: 0 auto;
  display: block;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 0.8rem;
}
