#pricing-section{
  background-color: white;
  padding: 30px;
  margin-bottom: 100px;
}
#pricing-section h1{
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 30px;
}
#pricing-section p{
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 30px;
}
#pricing-section #card-container{
  width: 90%;
}
